.hero {
  padding: 4rem 0rem;
  display: flex;
  justify-content: space-between;
  color: white;
  overflow: hidden;
  h1 {
    font-size: 3rem;
  }
  h3 {
    padding-top: 0.7rem;
    font-size: 1.8rem;
    font-weight: 300;
  }
  .title {
    padding-bottom: 2rem;
  }
}
